*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
 background-color:#F5F0E8;
}

.logo{
background-color: black;
width: 100px;
border-radius: 17px;
margin: auto;
margin-top: 30px;
box-shadow: 4px 4px 0px #4A7C59;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
}
.fa-solid{
    color: white;
    font-size: 80px;
}
span{
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
font-weight: 900;
font-size: 50px;
font-family: 'DM_Serif_Display';
}
p{
text-align: center;
color: #78716C;
font-weight: 600;
font-size:20px ;
letter-spacing: 0.1em
}
.connexion-bloc{
    background-color:white ;
    width:550px ;
    height:700px ;
    border-radius:15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 80px;
    box-shadow: 0 8px 40px rgba(0,0,0,0.07), 
    4px 4px 0px #E0D9CE;
    border: 1px solid #E0D9CE;

}
.button-connexion-inscription{
width: 90%;
margin: 25px auto;
display: flex;
justify-content: space-around;
background-color: #F5F0E8;
padding: 10px;
border-radius: 15px;
cursor: pointer;
}
.btn_1{
border: none ;
font-size: 20px;
color: #78716C;
background-color:white;
padding: 12px 55px 12px 55px;
border-radius: 10px;

}
.btn_2{
    border: none ;
    font-size: 20px;
    color: #78716C;
    background-color:transparent;
    padding: 12px 55px 12px 55px;
    border-radius: 10px;
    }
    #form-connexion{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    input{
    padding: 25px;
    width:90%; 
    border-radius: 18px;
    border: 1px solid #E0D9CE;
    margin: auto;
    cursor: pointer;
    background: #F5F0E8;
    outline: none ;
    display: block;

    }
    input::placeholder{
        color: #78716C;
        font-size: 20px;
    }
    input:focus{
        border-color: #4A7C59;
        background-color: white;
    }
    label{
        color: #78716C;
        font-weight: 800;
        letter-spacing: 0.1em;
        cursor: pointer;
        font-size: 15px;
        margin-left: 30px;
        margin-bottom: 10px;
        display: block;

    }
    .fa-arrow-right{
        font-size: 10px;
        font-weight: 900;
    }
    .btn-login{
    box-shadow: 4px 4px 0px #4A7C59;
    background-color: #1C1917;
    color: white;
    padding: 25px;
    border-radius: 20px;
    width: 80%;
    margin: 50px auto;
    font-size: 20px;
    cursor: pointer;
    }

    .btn-google{
        padding-bottom: 20px;
        border: 1px solid #E0D9CE;
        border-radius: 10px;
        margin: 10px auto;
        display: block;
        background-color: white;
        width: 80%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .btn-google img{
        margin-top: 27px;
        font-size: 18px;
    }
    .btn-google span{
     font-size: 18px;
    }
    .btn-google:hover{
        border: 1px solid black;
        background: #F5F0E8;
    }
/****************Inscription***********************/
#form-inscription{
    background-color:white ;
    width:550px ;
    height:700px ;
    border-radius:15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 80px;
    box-shadow: 0 8px 40px rgba(0,0,0,0.07), 
    4px 4px 0px #E0D9CE;
    border: 1px solid #E0D9CE;

}
 


  
