*,
::after,
::before
{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    font-family:sans-serif ;

}
.sign_up_page{
    min-height: 100vh;
    background-color:#F5F0E8;
 
}

.logo-mark{
background-color: black;
width: 100px;
border-radius: 17px;
margin: auto;
margin-top: 30px;
box-shadow: 4px 4px 0px #4A7C59;
display: flex;
justify-content: center;
align-items: center;
border-radius: 25px;
}
.fa-solid{
    color: white;
    font-size: 80px;
}
.logo-note{
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
font-weight: 900;
font-size: 40px;
font-family: 'DM_Serif_Display';
margin-bottom: 15px;
}
p{
text-align: center;
color: #78716C;
font-weight: 400;
font-size:20px ;

}
.login{
    background-color:white ;
    max-width:550px ;
    border-radius:15px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 8px 40px rgba(0,0,0,0.07), 
    4px 4px 0px #E0D9CE;
    border: 1.5px solid #E0D9CE;

}
.tab-switch{
width: 100%;
margin: 30px auto;
display: flex;
justify-content: space-around;
background-color: #F5F0E8;
padding: 10px;
border-radius: 15px;
cursor: pointer;
}
.login_input_group{
    margin-bottom: 30px;
}
.btn_connexion{
border: none ;
font-size: 20px;
color: #78716C;
background-color:white;
padding: 12px 55px 12px 55px;
border-radius: 10px;
font-weight: 600;

}
.btn_sign_up{
    border: none ;
    font-weight: 600;
    font-size: 20px;
    color: #78716C;
    background-color:transparent;
    padding: 12px 55px 12px 55px;
    border-radius: 10px;
    }
    
    .login_input{
    padding: 20px;
    width:100%; 
    border-radius: 18px;
    border: 1px solid #E0D9CE;
    margin: auto;
    cursor: pointer;
    background: #F5F0E8;
    outline: none ;
    display: block;

    }
    .login_input:-webkit-autofill{
        --webkit-box-shadow: 0 0 0 1000px #F5F0E8 inset 
        !important;
        --webkit-text-fill-color:#78716C;
    }
    .login_input::placeholder{
        color: #78716C;
        font-size: 20px;
    }

    .login_input:focus{
        border-color: #4A7C59;
        background-color: white;
        box-shadow: 0 1px 0 #4A7C59;
        }
     .login_label{
        color: #78716C;
        font-weight: 520;
        cursor: pointer;
        font-size: 19px;
        margin-left: 20px;
        margin-bottom: 10px;
        display: block;

    }
    .fa-arrow-right{
        font-size: 10px;
        font-weight: 900;
    }
    .btn-google{
    padding: 20px;
    border: 1px solid #E0D9CE;
    border-radius: 10px;
    background-color: white;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
   
    }
    .divider {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 20px 0;
        color: #78716C;
        font-size: 12px;
      }
      .divider span {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
      }
      .divider::before,
      .divider::after {
        content: '';
        flex: 1;
        height: 1px;
        background: #E0D9CE;
        margin-top: 30px;
      }
     
     /*** ## Comment ça marche ?
      ```
      ::before  → trait gauche   [ flex: 1 = prend tout l'espace disponible ]
        span    → "ou continuer avec"
      ::after   → trait droit    [ flex: 1 = prend tout l'espace disponible ]
     *******/


    .login_submit_button{
        box-shadow: 4px 4px 0px #4A7C59;
        padding: 25px;
        border-radius: 10px;
        background-color: black;
        color: white;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 18px;
        font-weight: 600;
    }
    .btn-google img{
    font-size: 18px;
    }
    .btn-google span{
     font-size: 18px;
    }
    .btn-google:hover{
        border: 1px solid black;
        background: #F5F0E8;
    }
/****************Inscription***********************/

.sign_up{
    max-width: 550px;
    background-color: white;
    box-shadow: 0 8px 40px rgba(0,0,0,0.07), 
    4px 4px 0px #E0D9CE;
    border-radius: 15px ;
    margin:  30px auto;
    padding:  30px ;
    color: #78716C;
    
}
.sign_up_title{
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 45px;
    color: #1C1917;

}
.sign_up_input_group{
 margin-bottom: 27px;
}
.sign_up_label{
    color: #78716C;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    display: block;

}
.sign_up_input{
    padding: 20px;
    width:100%; 
    border-radius: 18px;
    border: 1px solid #E0D9CE;
    margin: auto;
    cursor: pointer;
    background: #F5F0E8;
    outline: none ;
    display: block;

}
.sign_up_input:-webkit-autofill{
    --webkit-box-shadow: 0 0 0 1000px #F5F0E8 inset 
    !important;
    --webkit-text-fill-color:#78716C;
}
.sign_up_input:focus{
    border-color: #4A7C59;
    background-color: white;
    box-shadow: 0 1px 0 #4A7C59;
}
.sign_up_input::placeholder{
font-size: 16px;
}
.sign-up-icon-input-container{
    position: relative;
}
.sign-up-icon{
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.sign_up_error_message{
color: red;
margin-top: 9px;
font-weight: 400;
font-size: 15px;
display: none;
}
.sign_up_submit_button{
    display: block;
    margin: 60px auto -10px;
    font-size: 18px;
    background-color: #1C1917;
    border-radius:20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 4px 4px 0px #4A7C59;
    width: 100%;
    padding: 25px;

}
 


  
